* {
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    overflow: hidden;
    gap: 10px;
}



.titulo {
    grid-column-end: span 2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nomeJogo {
    margin: 0;
    padding: 0;
}

.placar {
    width: 330px;
    height: 330px;
    border: black solid 5px;
    margin: 0;
    padding: 0;
    justify-self: end;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.jogador {
    font-weight: bold;
    font-size: 1.1em;
}

.simbolo {
    width: 110px;
    height: 110px;
    text-align: center;
    font-size: 2em;
    border: black solid 2px; 
    margin: 5px;
}

.tabuleiro {
    background-color: #000;
    display: flex;
    width: 330px;
    height: 330px;
    flex-wrap: wrap;
    border: black solid 5px;
    justify-content: space-around;
    align-items: center;  
    margin: 0;
    padding: 0;  
}

.tabuleiro div {
    cursor: pointer;
    box-sizing: border-box;
    background-color: darkorange;
    height: 100px;
    width: 100px;
    padding: 0px;
    border: black solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabuleiro div:hover {
    box-sizing: border-box;
    background-color: lightsalmon;
    height: 100px;
    width: 100px;
    padding: 0px;
    border: black solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabuleiro div:active {
    box-sizing: border-box;
    background-color: lightsalmon;
    height: 100px;
    width: 100px;
    padding: 5px;
    border: white solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    border: black solid 5px;
    grid-column-end: span 2;
    width: 680px;
    height: 100px;
    justify-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.botoes {
    border-left: black solid 5px;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restart {
    cursor: pointer;
    margin: 0;
    padding: 10px 30px;
    font-size: 0.6em;
    border-radius: 40px;
    background-color: darkorange;
}

.restart:active {
    background-color: rgb(243, 174, 89);
}

.msg {
    font-size: 0.7em;
    padding: 0px 10px;
    margin: 0;
}
